{% extends 'myserver/master.html' %}

{% load static %}

{% block page_title %}
create
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/styles/style.css' %}">
{% endblock %}

{% block page_content %}
<form action="" method="POST">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    {% for field in form %}
    <div class="field_group">
        <label for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <input type="submit">
</form>
{% endblock %}