{% extends 'myserver/master.html' %}

{% load static %}

{% block page_title %}
categories
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/styles/style.css' %}">
{% endblock %}

{% block page_content %}
<div class="products">
    <div class="product_item">
        <h1 class="product_name">
            {{ object.name|title }}
        </h1>
        <div class="product_description">
            {{ object.description }}
        </div>
        {% if object.price %}
        <span class="product_price">
            {{ object.price }}
        </span>
        {% endif %}
        <button>BUY</button>
        <div>
            <a href="{% url 'products:list' %}">
                BACK
            </a>
        </div>

    </div>
</div>
{% endblock %}