{% load static %}

<div class="product productNew">
    <a href="{% url 'products:detail' pk=id %}" class="product_link">
        {% if image %}
        <img src="{{ image.url }}" alt="{{ name }}">
        {% else %}
        <img src="{% static 'products/images/empty.png' %}" alt="empty">
        {% endif %}
    </a>
    <!--<a href="../products/product7.html"><img src="/static/products/images/products/7.jpg" alt="#7"></a>-->
    <div class="productInfo">
        <p class="vendorCode">
            {{ name|upper }}
        </p>
        <div>
            {% if price %}
            <p class="price">
                {{ price }} &#8381;
            </p>
            {% else %}
            <span class="product_price">
                No value
            </span>
            {% endif %}
        </div>
    </div>
</div>