{% extends 'myserver/master.html' %}

{% load static %}

{% block page_title %}
products
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/styles/style.css' %}">
{% endblock %}

{% block page_content %}

<div class="contentProduct">
    <h3 class="newProduct">New Product</h3>
    <div class="products">
        {% for object in page_obj %}
        {% include 'myserver/products.html' with id=object.pk image=object.image name=object.name price=object.price %}
        {% endfor %}
    </div>

    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="pagination_link_preview">
            <a href="?page={{ page_obj.previous_page_number }}">
                BACK
            </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="pagination_link_preview">
            <a href="?page={{ page_obj.next_page_number }}">
                NEXT
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}