{% extends 'myserver/master.html' %}

{% load static %}

{% block page_title %}
products
{% endblock %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/styles/style.css' %}">
{% endblock %}

{% block page_content %}

<div class="contentProduct">
    <h3 class="newProduct">New Product</h3>
    <div class="products">
        {% for object in page_obj %}
        {% include 'myserver/products.html' with id=object.pk image=object.image name=object.name price=object.price %}
        {% endfor %}
    </div>

    {% include 'myserver/pagination.html' with page=page_obj page_range=page_obj.paginator.page_range %}
</div>
{% endblock %}