<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="headerInside">
                    <a href="#" class="logo"></a>
                    <div class="socialMedia">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fas fa-envelope"></i></a>
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="contentInside">
                    <div>
                        <div class="menu">
                            <a href="#" class="link"><h3 class="menuName">menu</h3></a>
                            <ul class="menuSections">
                                <li><a href="../index.html">about us</a></li>
                                <li><a href="../catalog.html">products</a></li>
                                <li><a href="../index.html">stok</a></li>
                                <li><a href="../index.html">news</a></li>
                                <li><a href="../index.html">master class</a></li>
                                <li><a href="../contacts.html">contacts</a></li>
                            </ul>
                        </div>
                        <div class="advertising">
                            <p class="open">now is open!</p>
                        </div>
                    </div>

                    <div class="contentProduct">
                        <div>
                            <div>
                                <h3 class="text">Сумочка-малышка</h3>
                                <img class="pic_pr" src="../images/products/1.jpg" alt="small bag">
                            </div>

                            <div>
                                <h3 class="text">Описание товара</h3>
                                <p class="text">Маленькая сумочка для самых необходимых вещей!</p>
                            </div>

                            <div>
                                <h3 class="text">Характеристики товара</h3>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                    et dolore magna aliqua.
                                </p>
                            </div>

                            <div>
                                <h3 class="text">Подробное описание товара</h3>
                                <p class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                    et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut
                                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in
                                    culpa
                                    qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>

                            <div>
                                <h3 class="text">Стоимость товара</h3>
                                <table>
                                    <tr>
                                        <th width="60%">Сумочки и клатчи</th>
                                        <th>Стоимость</th>
                                        <th rowspan="2"><a href="#" class="button_buy">Купить</a></th>
                                    </tr>
                                    <tr>
                                        <td>Модель "Малышка"</td>
                                        <td>2 500 &#8381;</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    <div class="footerInside">
                        <div class="category">
                            <div class="footerHead">
                                Category
                            </div>
                            <ul class="categoryMenu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">E-shop</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">New collections</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="account">
                            <div class="footerHead">
                                Our Account
                            </div>
                            <ul class="categoryMenu">
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Personal information</a></li>
                                <li><a href="#">Addresses</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Orders history</a></li>
                                <li><a href="#">Addresses</a></li>
                                <li><a href="#">Search Terms</a></li>
                            </ul>
                        </div>
                        <div class="support">
                            <div class="footerHead">
                                Our Support
                            </div>
                            <ul class="categoryMenu">
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Addresses</a></li>
                            </ul>
                        </div>
                        <div class="newsletter">
                            <div class="footerHead">
                                Newsletter
                            </div>
                            <p class="shortDescription">
                                Join thousands of other people subscribe to our news
                            </p>
                            <input class="insertEmail" type="text" placeholder="INSERT EMAIL">
                            <button class="buttonSubmit">submit</button>
                            <div class="paymentMethods">
                                <img src="../images/paymentMethods/american-express.jpg" alt="american-express">
                                <img src="../images/paymentMethods/master-card.jpg" alt="master-card">
                                <img src="../images/paymentMethods/maestro.jpg" alt="maestro">
                                <img src="../images/paymentMethods/paypal.jpg" alt="paypal">
                                <img src="../images/paymentMethods/discover.jpg" alt="discover">
                                <img src="../images/paymentMethods/visa.jpg" alt="visa">
                            </div>
                        </div>
                        <div class="aboutUs">
                            <div class="footerHead">
                                About Us
                            </div>
                            <p class="shortDescription">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus
                                mus.
                            </p>
                            <p class="phone">
                                Phone: 1-999-342-9876
                            </p>
                            <p class="Email">
                                E-mail: info@surfhouse.com
                            </p>
                        </div>
                    </div>
                    <div class="footerCopyrights">
                        <div class="copyrightsInside">
                            <p>
                                &copy; 2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com
                            </p>
                            <div class="footerSocial">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-tumblr"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fas fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--

            <br>

            <hr>

            <div class="footer">
                <p class="text_left">Мы в социальных сетях</p>
                <img class="social_media" src="../images/instagramm.png" alt="instagram" title="instagram">
                <img class="social_media" src="../images/facebook.png" alt="facebook" title="facebook">
                <img class="social_media" src="../images/whatsup.png" alt="whatsapp" title="whatsapp">
                <p class="text_prava">&copy; Все права защищены.</p>
            </div>-->
        </div>
    </body>
</html>